{% extends 'base.html' %}
{% block title %} Comapre Optical Lenses - Optiwar {% endblock %}
{% block content %}
<!--
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %} -->

<h1> See  how Optical Lenses benefits you </h1>

<table border="1" style="width: 100%; border-collapse: collapse; text-align: center;">
    <thead>
        <tr>
            <th>Feature</th>
            <th>CR-39 Uncoated</th>
            <th>Polycarbonate HMC</th>
            <th>1.61 High Index HMC</th>
            <th>1.56 High Index HMC</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Refractive Index</td>
            <td>1.498</td>
            <td>1.586</td>
            <td>1.61</td>
            <td>1.56</td>
        </tr>
        <tr>
            <td>Thickness</td>
            <td>Thickest</td>
            <td>Thinner</td>
            <td>Thinner</td>
            <td>Medium</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>Moderate</td>
            <td>Lightest</td>
            <td>Light</td>
            <td>Light</td>
        </tr>
        <tr>
            <td>Impact Resistance</td>
            <td>Low</td>
            <td>High</td>
            <td>Moderate</td>
            <td>Moderate</td>
        </tr>
        <tr>
            <td>Scratch Resistance</td>
            <td>Moderate</td>
            <td>High (with HMC)</td>
            <td>High (with HMC)</td>
            <td>High (with HMC)</td>
        </tr>
        <tr>
            <td>Optical Clarity</td>
            <td>High</td>
            <td>Moderate</td>
            <td>High</td>
            <td>High</td>
        </tr>
        <tr>
            <td>UV Protection</td>
            <td>Basic</td>
            <td>100%</td>
            <td>100%</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>Cost</td>
            <td>Low</td>
            <td>Moderate</td>
            <td>High</td>
            <td>Moderate</td>
        </tr>
	<tr> 
	    <td> Approx Start Price </td> 
	    <td> Rs 399 </td>
	    <td> Rs 2999 </td> <td> Rs 3999 </td> <td> Rs 799 </td>
	</tr>


    </tbody>
</table>



{% endblock %}


