{% extends 'base.html' %}

{% block title %} Terms and Conditions - OPTIWAR {% endblock %}
    <!-- Unique Meta Tags for Terms and Conditions Page -->
{% block meta_description %}    Review the terms and conditions for using the OPTIWAR website. Learn about our policies regarding usage, privacy, and more {% endblock %}
{% block meta_keywords %}    terms, conditions, optiwar, ecommerce, policies {% endblock %}
{% block meta_author %}     OPTIWAR Legal and Assurance Team  {% endblock %}
{% block og_title %}    Terms and Conditions - OPTIWAR  {% endblock %}
{% block og_description %}    Understand the terms and conditions for using OPTIWAR's website. Learn more about eligibility, intellectual property, and user responsibilities  {% endblock %}
{% block og_image %}    {{ url_for('static', filename='catalog/new-logo.png') }}  {% endblock %}
{% block og_url %}    {{ url_for('main.terms_and_conditions', _external=True) }}  {% endblock %}



{% block content %}
<div class="terms-section">
    <h1>{{ _('Terms and Conditions') }}</h1>
     <p><strong> Latest updated: 12th June 2025</strong></p>
     <p><em> Last Updated: 30th September 2024</em> </p>

    <p>Welcome to Optiwar ("the Website"). These Terms and Conditions ("Terms") govern your use of the Website, operated by Krishna Ecommerce Technologies Private Limited ("Company", "we", "us", or "our"), located at Godown Village Fazilpur, Badshahpur Tethar(222), Badshahpur, Gurgaon-122101 India. By accessing or using the Website, you agree to comply with and be bound by these Terms. If you do not agree with these Terms, please do not use the Website.</p>

<ol>
    <li>
    <h2> Acceptance of Terms</h2>
    <p>By accessing, browsing, or using the Website, you acknowledge that you have read, understood, and agree to be bound by these Terms, as well as any additional guidelines, rules, or policies posted on the Website. These Terms may be updated periodically, and your continued use of the Website constitutes acceptance of such changes.</p>
    </li>

    <li>
    <h2> Eligibility</h2>
    <p>You must be at least 18 years of age to use the Website. By using the Website, you represent and warrant that you have the legal capacity to enter into this agreement and abide by these Terms.</p>
    </li>
    <li>
	<sup>1</sup> Limited prescriptions changes as per system automation proces
    </li>
    <li> 
   <h2> Cancellation and Refunds Policy</h2>
   <p> Simply request for cancellation using our contact form and get a ticket number issued. <br> 
   <br> Orders once placed can be cancelled free of cost within 6 hours of placing the orders considered un-processed orders. <br> 
 <br> Processed Orders means where lenses have been ordered or cut make to order or basically processing has been initiated cannot be cancelled and may be subject to cancellation cost of upto 50% of the order value, however, for International orders, any cancellation request less than 6 hours will attract a 7% cancellation fees for un-processed orders within 6 hours of placing orders  or 57% cancellation cost where orders have been processed. 
   	<br><br> Money will be refunded back to same source of payment within 3-5 business days
   </p>
    </li>

	<li>
	<h2> Returns and Replacement policy </h2>
	<p> Optiwar is wholesale optical outlets and returns replacements are subjective and most cases restricted</p>
	<p> Any customer retail or wholesale requesting to return the product must return the product(s) back to Optiwar given location in writing and upon receiving of goods back at Optiwar refund will be processed at 5% discount of the value of product.</p>
	<br> Product used || damaged will not be refunded and abandoned at our disposal unless customer intends to pickup immediately in written confirmation. Optiwar from time to time give written confirmation in all cases of returns / replacement request.
	<p> Cost of returns / replacements to be borne by customer whether retail or wholesale OR charged to customer once return approved for reverse pickup. A GST bill of reverse charges will be provided</p>
	</li>

    <li>
	<h2 id="shipping-policy"> Shipping Policy </h2>
	<p> Processed goods will be shipped and AWB tracking will be shared with customers / buyers.
	<br> Minimum delivery time within India 1 day and maximum delivery time 45 days <br>
	<br> Minimum delivery time outside India -3 days for most modern customs countries , maximum is 45+ days subject to refusal or detention cases. <br> 
	<br>International Orders once shipped cannot be returned or refunded. Once goods are exported from India, they are considered as shipped with generated AWB as per Reserve Bank of India rules and any confiscation or detention of goods in foreign land outside control of India juristication will be liability of the customers. <br>
	<br> Goods once exported outside of India cannot be refunded / returned or chargeback will be un-authorised as per regulations mandate.
	<br> If you choose Country of delivery as 'Others' we will send you additional charge invoice basis your location. <br>
	</p> 
    </li>
    <li>
    <h2> Use of the Website</h2>
    <p>You agree to use the Website only for lawful purposes. You are prohibited from using the Website in any manner that could damage, disable, overburden, or impair any server or the network(s) connected to the server, or interfere with any other party's use of the Website.</p>
    </li>

    <li>
    <h2> Intellectual Property</h2>
    <p>All proprietary content, including code, design, graphics, or any underlying software but not limited to text, images, logos, designs, and graphics available on the Website, is the intellectual property of Krishna Ecommerce Technologies Private Limited or its licensors. You may not reproduce, distribute, modify, create derivative works, publicly display, or otherwise use any content from the Website without our prior written consent.</p>
    <p>Any brands, logos, trademarked goods which are listed on the website are the intellectual property of their respective owners or licensors. The use of such trademarks on the website is strictly for identification purposes and does not imply any affiliation, endorsements, or sponsorship unless otherwise explicitly stated.</p>
    </li>
    
    <li>
    <h2> User Content</h2>
    <p>You may have the opportunity to post, submit, or otherwise make available content, including but not limited to reviews, comments, or other materials ("User Content"). By submitting User Content, you grant Krishna Ecommerce Technologies Private Limited a worldwide, royalty-free, perpetual, irrevocable, and transferable license to use, reproduce, modify, distribute, and publicly display such content.</p>
    </li>
   
    <li>
    <h2> Privacy Policy</h2>
    <p>We take your privacy seriously. Please refer to our <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a> for information on how we collect, use, and protect your personal information.</p>
    </li>

    <li>
    <h2> Third-Party Links</h2>
    <p>The Website may contain links to third-party websites or services that are not owned or controlled by Krishna Ecommerce Technologies Private Limited. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party websites or services. Your use of third-party websites is at your own risk.</p>
    </li>

    <li>
    <h2> Disclaimer of Warranties</h2>
    <p>All content, services, and products provided through the Website are provided "as is" and "as available" without warranties of any kind, either express or implied. Krishna Ecommerce Technologies Private Limited does not provide any warranty that the Website will be uninterrupted, error-free, or free of viruses or other harmful components.</p>
    </li>

    <li>
    <h2> Limitation of Liability</h2>
    <p>To the fullest extent permitted by applicable law, in no event shall Krishna Ecommerce Technologies Private Limited, its directors, employees, or agents be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of the Website.</p>
    </li>

    <li>
    <h2>Indemnification</h2>
    <p>You agree to indemnify, defend, and hold harmless Krishna Ecommerce Technologies Private Limited and its affiliates, directors, officers, employees, and agents from any claims, damages, losses, liabilities, costs, and expenses arising out of or related to your use of the Website.</p>
    </li>

    <li>
    <h2> Termination</h2>
    <p>We reserve the right to terminate or suspend your access to the Website, without notice, for conduct that we believe violates these Terms or is harmful to our interests or those of other users.</p>
    </li>

 
    <li>
    <h2> Governing Law</h2>
    <p>These Terms shall be governed by and construed in accordance with the laws of Haryana or New Delhi, India, without regard to its conflict of law principles.</p>
    </li>

    <li>
    <h2> Changes to Terms</h2>
    <p>We reserve the right to modify these Terms at any time. Any changes will be effective immediately upon posting to the Website. Your continued use of the Website constitutes acceptance of the modified Terms.</p>
    </li>


    <li>
    <h2> Contact Information</h2>
    <p>If you have any questions or concerns about these Terms, either write to us at Krishna Ecommerce Technologies Private Limited>
        Godown Village Fazilpur, Badshahpur Tethar(222), Badshahpur, Gurgaon-122101 ,India  OR by using contact email form  <a href="{{ url_for('crm.create_ticket') }}">  Conact us form </a> <br>
        Phone: +91-8010077770</p>
    </li>
</ol>
</div>
{% endblock %}

